In [4]:
pd.set_option('display.max_columns',None)

In [22]:
import glob
import pandas as pd

df_list = [pd.read_csv(f) for f in glob.glob('result_v4/*.csv')]
final_df = pd.concat(df_list,ignore_index=True)
final_df['return:mdd'] = final_df['overall']/(-1*final_df['mdd'])

In [23]:
final_df['overall_R'] = final_df['overall'].rank(method='average')
final_df['winrate_R'] = final_df['winrate'].rank(method='average')
final_df['mdd_R'] = final_df['mdd'].rank(method='average')
final_df['expectency_R'] = final_df['expectancy'].rank(method='average')
final_df['return:mdd_R'] = final_df['return:mdd'].rank(method='average')
final_df['total_R'] = final_df.iloc[:, -5:].sum(axis=1)

In [24]:
monday_0 = final_df[final_df['best_day/w'] == 0].sort_values('total_R')

tuesday_1 = final_df[final_df['best_day/w'] == 1].sort_values('total_R')

wednesday_2 = final_df[final_df['best_day/w'] == 2].sort_values('total_R')

thursday_3 = final_df[final_df['best_day/w'] == 3].sort_values('total_R')

friday_4 = final_df[final_df['best_day/w'] == 4].sort_values('total_R')

In [29]:
thursday_3

,moneyness,sl,reentry,entry_time,exit_time,max_loss,overall,winrate,mdd,mdd_percent,...,outlier,best_day/w,worst_day/w,return:mdd,overall_R,winrate_R,mdd_R,expectency_R,return:mdd_R,total_R
167,2,5,1,09:50,15:20,3100,-13750.8750,0.36,-51868.3750,-25.934188,...,0.89,3,1,-0.265111,33.0,206.0,1.0,82.5,224.0,546.5
166,2,5,1,09:50,15:20,2900,-13112.8750,0.36,-51230.3750,-25.615188,...,0.89,3,1,-0.255959,38.0,206.0,2.0,82.5,234.0,562.5
165,2,5,1,09:50,15:20,2700,-12139.0000,0.36,-50256.5000,-25.128250,...,0.89,3,1,-0.241541,46.0,206.0,3.0,124.5,243.0,622.5
164,2,5,1,09:50,15:20,2500,-10716.0625,0.36,-48833.5625,-24.416781,...,0.90,3,1,-0.219441,61.0,206.0,4.0,124.5,260.0,655.5
241,2,5,1,10:20,15:20,1100,-9198.3125,0.33,-24351.4375,-12.175719,...,0.88,3,2,-0.377732,92.0,75.5,197.0,124.5,180.0,669.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16440,2,45,3,10:50,14:50,1300,86716.0000,0.67,-6174.4375,-3.087219,...,2.12,3,4,14.044356,15953.0,16389.5,14774.0,15472.0,16477.0,79065.5
15431,2,45,1,10:50,14:50,1100,85467.7500,0.65,-5500.0000,-2.750000,...,2.18,3,4,15.539591,15843.0,15166.5,15608.5,15816.0,16687.0,79121.0
15432,2,45,1,10:50,14:50,1300,83042.8750,0.67,-5489.3125,-2.744656,...,2.09,3,4,15.128101,15590.0,16389.5,15629.0,15325.5,16645.0,79579.0
15935,2,45,2,10:50,14:50,1100,89770.3750,0.65,-5500.0000,-2.750000,...,2.23,3,4,16.321886,16188.0,15166.5,15608.5,15901.0,16769.0,79633.0
15936,2,45,2,10:50,14:50,1300,87135.8750,0.67,-5754.5625,-2.877281,...,2.13,3,4,15.142050,15985.0,16389.5,15304.0,15472.0,16646.0,79796.5

In [8]:
tuesday_1.tail(10)

,moneyness,sl,reentry,entry_time,exit_time,max_loss,overall,winrate,mdd,mdd_percent,expectancy,sharpe,sortino,cons_lose,cons_win,outlier,best_day/w,worst_day/w,return:mdd,overall_R,winrate_R,mdd_R,expectency_R,return:mdd_R,total_R
8606,0,57,3,09:20,13:50,2500,117059.6125,0.66,-10229.8375,-5.114919,0.36,0.280415,0.570731,5,11,1.97,1,4,11.442959,22286.0,21570.0,15565.0,19434.5,21298.0,100153.5
7598,0,57,1,09:20,13:50,2500,117059.6125,0.66,-10229.8375,-5.114919,0.36,0.280415,0.570731,5,11,1.97,1,4,11.442959,22286.0,21570.0,15565.0,19434.5,21298.0,100153.5
4602,0,49,1,09:20,14:50,2500,126767.7750,0.65,-10000.0000,-5.000000,0.36,0.270469,0.644979,4,10,1.90,1,3,12.676778,22509.0,20596.5,15943.0,19434.5,21773.0,100256.0
4587,0,49,1,09:20,14:20,2300,125702.3500,0.64,-9200.0000,-4.600000,0.38,0.278606,0.666747,5,13,1.93,1,4,13.663299,22491.0,19311.0,17416.5,19987.5,22049.0,101255.0
4100,0,45,3,09:20,14:50,2900,131237.7500,0.67,-8700.0000,-4.350000,0.34,0.267751,0.547552,3,12,1.87,1,4,15.084799,22584.0,22122.5,18235.0,18806.0,22310.0,104057.5
3596,0,45,2,09:20,14:50,2900,132467.3750,0.67,-8700.0000,-4.350000,0.34,0.270643,0.543895,3,12,1.89,1,4,15.226135,22605.0,22122.5,18235.0,18806.0,22333.0,104101.5
3092,0,45,1,09:20,14:50,2900,135469.1250,0.67,-8700.0000,-4.350000,0.35,0.278093,0.562104,3,10,1.93,1,4,15.571164,22631.0,22122.5,18235.0,19140.0,22373.0,104501.5
4099,0,45,3,09:20,14:50,2700,133667.0625,0.66,-8100.0000,-4.050000,0.35,0.276958,0.605576,3,12,1.92,1,4,16.502106,22618.0,21570.0,19176.5,19140.0,22459.0,104963.5
3595,0,45,2,09:20,14:50,2700,134896.6875,0.66,-8100.0000,-4.050000,0.35,0.279919,0.600585,3,12,1.93,1,4,16.653912,22623.0,21570.0,19176.5,19140.0,22473.0,104982.5
3091,0,45,1,09:20,14:50,2700,137698.4375,0.66,-8100.0000,-4.050000,0.36,0.286955,0.619894,3,10,1.97,1,4,16.999807,22644.0,21570.0,19176.5,19434.5,22497.0,105322.0

In [12]:
tuesday_1.tail(10)

,moneyness,sl,reentry,entry_time,exit_time,max_loss,overall,winrate,mdd,mdd_percent,expectancy,sharpe,sortino,cons_lose,cons_win,outlier,best_day/w,worst_day/w,return:mdd,overall_R,winrate_R,mdd_R,expectency_R,return:mdd_R,total_R
21682,1,61,2,09:20,12:50,2500,86658.8375,0.65,-7212.0125,-3.606006,0.33,0.248963,0.448414,4,11,1.84,1,2,12.015902,20287.5,20532.5,19396.0,18057.0,21285.5,99558.5
18698,1,53,2,09:20,14:20,2100,126945.9625,0.64,-9456.0125,-4.728006,0.42,0.295259,0.724978,8,13,2.05,1,4,13.424894,22593.5,19118.5,15486.0,20717.0,21885.5,99800.5
19202,1,53,3,09:20,14:20,2100,126945.9625,0.64,-9456.0125,-4.728006,0.42,0.295259,0.724978,8,13,2.05,1,4,13.424894,22593.5,19118.5,15486.0,20717.0,21885.5,99800.5
18194,1,53,1,09:20,14:20,2100,126544.6125,0.64,-9456.0125,-4.728006,0.43,0.294373,0.722431,8,13,2.05,1,4,13.382450,22586.0,19118.5,15486.0,20853.0,21870.0,99913.5
21178,1,61,1,09:20,12:50,2500,87474.6250,0.65,-7212.0125,-3.606006,0.34,0.252243,0.458300,4,11,1.85,1,2,12.129017,20410.0,20532.5,19396.0,18500.0,21348.0,100186.5
21709,1,61,2,09:20,13:50,2300,117941.8875,0.67,-9840.7875,-4.920394,0.40,0.298409,0.635316,5,13,2.09,1,4,11.985005,22427.0,22109.0,14754.0,20325.5,21260.0,100875.5
22213,1,61,3,09:20,13:50,2300,117941.8875,0.67,-9840.7875,-4.920394,0.40,0.298409,0.635316,5,13,2.09,1,4,11.985005,22427.0,22109.0,14754.0,20325.5,21260.0,100875.5
21205,1,61,1,09:20,13:50,2300,117941.8875,0.67,-9840.7875,-4.920394,0.40,0.298409,0.635316,5,13,2.09,1,4,11.985005,22427.0,22109.0,14754.0,20325.5,21260.0,100875.5
18209,1,53,1,09:20,14:50,2300,131141.2750,0.65,-9200.0000,-4.600000,0.40,0.292382,0.698557,4,13,2.04,1,4,14.254486,22625.0,20532.5,15955.0,20325.5,22112.0,101550.0
18208,1,53,1,09:20,14:50,2100,130659.8250,0.65,-8437.2125,-4.218606,0.41,0.292879,0.767803,4,13,2.03,1,4,15.486137,22621.0,20532.5,17371.0,20534.5,22323.0,103382.0

In [16]:
tuesday_1.tail(10)

,moneyness,sl,reentry,entry_time,exit_time,max_loss,overall,winrate,mdd,mdd_percent,expectancy,sharpe,sortino,cons_lose,cons_win,outlier,best_day/w,worst_day/w,return:mdd,overall_R,winrate_R,mdd_R,expectency_R,return:mdd_R,total_R
12651,2,37,2,09:20,14:20,2300,99543.6750,0.64,-6743.9375,-3.371969,0.33,0.260448,0.537422,4,6,1.87,1,2,14.760468,16733.0,14217.5,13959.0,13900.5,16585.0,75395.0
15189,2,45,1,09:20,14:50,3100,114637.0000,0.67,-8219.6875,-4.109844,0.34,0.257761,0.453873,3,12,1.87,1,4,13.946637,16974.0,16389.5,11732.0,14245.5,16461.0,75802.0
15693,2,45,2,09:20,14:50,3100,115669.3750,0.66,-7945.6875,-3.972844,0.36,0.262598,0.484701,3,12,1.89,1,4,14.557504,16981.0,15948.5,12129.5,14810.0,16551.0,76420.0
16197,2,45,3,09:20,14:50,3100,119717.9375,0.67,-7945.6875,-3.972844,0.36,0.272899,0.497073,3,12,1.95,1,4,15.067033,16997.0,16389.5,12129.5,14810.0,16636.0,76962.0
15692,2,45,2,09:20,14:50,2900,117845.2500,0.66,-7596.3750,-3.798188,0.37,0.270133,0.517785,3,12,1.93,1,4,15.513353,16990.0,15948.5,12671.0,15008.0,16684.0,77301.5
15188,2,45,1,09:20,14:50,2900,118495.5000,0.67,-7596.3750,-3.798188,0.37,0.270592,0.499380,3,12,1.94,1,4,15.598953,16992.0,16389.5,12671.0,15008.0,16691.0,77751.5
16196,2,45,3,09:20,14:50,2900,121893.8125,0.67,-7596.3750,-3.798188,0.37,0.280590,0.530917,3,12,1.99,1,4,16.046313,17006.0,16389.5,12671.0,15008.0,16744.0,77818.5
15691,2,45,2,09:20,14:50,2700,120171.3750,0.66,-6996.3750,-3.498187,0.39,0.278294,0.556810,3,12,1.97,1,4,17.176234,16999.0,15948.5,13618.0,15325.5,16853.0,78744.0
16195,2,45,3,09:20,14:50,2700,124219.9375,0.67,-6996.3750,-3.498187,0.38,0.288920,0.570896,3,12,2.03,1,4,17.754900,17008.0,16389.5,13618.0,15175.0,16888.0,79078.5
15187,2,45,1,09:20,14:50,2700,121793.7500,0.67,-6996.3750,-3.498187,0.39,0.281968,0.546663,3,12,2.00,1,4,17.408122,17005.0,16389.5,13618.0,15325.5,16865.0,79203.0